*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 101vh;
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(0, 0%, 5%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    margin: 4.8em auto;
    background: url(images/pattern-hills.svg) bottom center no-repeat, 
                url(images/bg-stars.svg) no-repeat;
    background-size: 100%;
    background-color: hsl(266,19%,14%);
}

.container {
    display: flex;
    justify-content: center;
    width: min(49.14em, 100%);
    gap: clamp(1.143rem, 0.7405rem + 1.7172vw, 2.286rem);
    margin-top: 7.50em;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10.571em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.730em;
    width: 100%;
    font-size: clamp(2.571rem, 1.4643rem + 4.7219vw, 5.714rem); 
    letter-spacing: -0.171rem;
    color:  hsl(345, 95%, 68%);
    border-radius: .1em;
    box-shadow: 0 10px 0 0 hsl(234, 17%, 12%);
    background: linear-gradient(hsl(235, 21%, 21%) 50%, hsla(236, 21%, 26%, 1) 50% );
    position: relative;
}

.heading {
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: .536rem;
    margin-top: 3em;
    font-size: clamp(1.286rem, 1.1856rem + 0.4282vw, 1.571rem);
    text-align: center;
}

.social-media-icons {
    display: flex;
    gap: 2.3em;
    margin-top: 18em;
}

.fa-brands {
    color: hsl(237,18%,59%);
    font-size: 1.9em;
}
.fa-brands:hover {
    color: hsl(345, 95%, 68%);
}

.title {
    color: hsl(237,18%,59%);
    text-transform: uppercase;
    font-size: clamp(0.5rem, 0.3239rem + 0.7512vw, 1rem);
    text-align: center;
    letter-spacing: 0.423rem;
    margin-top: 1.8em;
}

.card::after {
    content: "";
    background: hsl(234, 17%, 12%);
    height: 11px;
    width: 7px;
    border-radius: 0 50px 50px 0;
    position: absolute;
    left: 0;
    top: 46%;

}

.card::before {
    position: absolute;
    content: "";
    background: hsl(234, 17%, 12%);
    height: 11px;
    width: 7px;
    border-radius:  50px 0 0 50px  ;
    left: 95%;
    top: 46%;
}


@media all and (max-width: 1440px) {
    main {
        margin: 0;
    }
}

@media all and (max-width: 800px) {
    main {
        background-size: auto 25vh, cover;
        background-position: bottom right 20%, bottom;
    }

    .container {
        margin-top: 3.8em;
        padding-left: 1.8em;
        padding-right: 1.8em;
    }

    .card::after {
        height: 6px;
        width: 4px;
        left: 0;
        top: 45%;
    }
    
    .card::before {
        height: 6px;
        width: 4px;
        border-radius:  50px 0 0 50px  ;
        left: 92.5%;
        top: 45%;
    }
}

@media all and (max-width: 375px) {
    .heading {
        margin-top: 6em;
    }

    .card-container {
        width: 5em;
    }

    .card {
        height: 66.27px;
    }

    .title {
        letter-spacing: 0.211rem;
    }
}
